
/*** ESSENTIAL STYLES ***/
#nav .menu, #nav .menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
#nav .menu {
	line-height:	1.0;
}
#nav .menu ul {
	position:		absolute;
	top:			-999em;
	width:			190px; /* left offset of submenus need to match (see below) */
}
#nav .menu ul li {
	width:			188;
}
#nav .menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#nav .menu li {
	float:			left;
	position:		relative;
}
#nav .menu a {
	display:		block;
	position:		relative;
}
#nav .menu li:hover ul,
#nav .menu li.sfHover ul {
	left:			-2px;
	top:			51px; /* match top ul list item height */
	z-index:		99;
}
#nav .menu li:hover li ul,
#nav .menu li.sfHover li ul {
	top:			-999em;
}
#nav .menu li li:hover ul,
#nav .menu li li.sfHover ul {
	left:			175px; /* match ul width */
	top:			10px;
}



/*** DEMO SKIN ***/
#nav .menu li.current_page_item{background:url(../images/bg_sfHover.png) repeat-x;}
#nav .menu li.current_page_item a{background:url(../images/current.png) no-repeat 10px;}
#nav .menu { background:url(../images/nav_bg.png) no-repeat 0px; height:52px;}
#nav .menu a { height:52px; line-height:52px; text-decoration:none; font-size:16px; font-family:'GillSansMT',Arial, Helvetica, sans-serif;color:#fff; padding:0px 34px;}
#nav .menu a:hover{ text-decoration:none; background:url(../images/current.png) no-repeat 10px;}
#nav .menu li {background:url(../images/nav_bg.png) no-repeat right;}
#nav .menu li li {background:url(../images/bg_li_li.png); border:1px solid #fff; border-bottom:0px;}
#nav .menu li li.bborder{ border-bottom:1px solid #fff;}
#nav .menu li li li.bborder{ border-bottom:1px solid #fff;}
#nav .menu li li li {background:url(../images/bg_li_li.png);}

#nav .menu li {}
#nav .menu li ul { border-bottom:1px #fff solid;}

#nav .menu li:hover, #nav .menu li.sfHover{background:url(../images/bg_sfHover.png) repeat-x;}
#nav .menu li.sfHover li a{ background:none;}
#nav .menu li.current_page_item li{ text-align:left;}
#nav .menu li.current_page_item li a{ background:none; padding:0px; font-size:12px; height:23px; line-height:23px; padding-left:10px;}
#nav .menu li li{ text-align:left;}
#nav .menu li li a{ background:none; padding:0px; font-size:12px; height:23px; line-height:23px; padding-left:10px; width:178px;}
#nav .menu li li a:hover{ background:none;width:178px;}